.city-search {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: lightgrey;
    color: grey;
    & i {
        font-size: 22px;
        padding-bottom: 5px;
        color: black;
    }
    & h2 {
        font-weight: 500;
    }
}