@use "../utils/variables.scss";
@use "../utils/colors.scss";
@use "../utils/mixins.scss";

.menus {
    background-color: colors.$grey;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    
    .menu_card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    @media (min-width:variables.$screen) {
        grid-template-columns: repeat(4, 1fr);
        .card {
            width: 100%;
            height: 15rem;
        }
  }
    .new {
         position: relative;
    }
    .new::before {
        content: "Nouveau";
        position: absolute;
        height: 2rem;
        width: 5rem;
        background-color: colors.$color-tertiary;
        color: darken(colors.$color-tertiary, 50%);
        display: grid;
        place-items: center;
        top: 1rem;
        right: 1rem;
    }
}
    .card{
        &_image {
            height: 12rem;
            width: 100%;
            border: transparent solid 0px;
            border-radius: 1rem 1rem 0 0;
            box-shadow: none;
            background-size: cover;
            background-position: center;
        }
        @for $i from 1 through 4{ 
            &_img#{$i} {
                background-image: url("img/menu-#{$i}.jpg");
        }
    }
        &_description{
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: colors.$white;
            border-radius: 0 0 1rem 1rem;
            &::before {
                @include mixins.heart;
            }
            &::after {
                @include mixins.heart;
                @include mixins.gradient;
                opacity: 0;
                color: transparent;
                font-weight: 900;
            }
            &:hover::after {
                opacity: 1;
            }
        } 
            h3,
            p {
                padding-top: 0.5rem;
                padding-left: 0.5rem;
            }
    }
}
