@use "../utils/colors.scss";
@use "../utils/mixins.scss";

.search{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    background-color: colors.$grey;
    & h2{
    font-size: 22px;
    
}
    & p {
    font-size: 18px;
    padding-bottom: 20px;
}
    button {
        @include mixins.base-button;
        &:hover{
            @include mixins.hover-button;
        }
    }
}