/* Error: expected ";".
 *    ,
 * 22 |       border-radius: 100%;
 *    |                    ^
 *    '
 *   sass\utils\loader.scss 22:20  @use
 *   style.scss 10:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 22 \2502        border-radius: 100%;\d\a    \2502                     ^\a    \2575 \a   sass\\utils\\loader.scss 22:20  @use\a   style.scss 10:1               root stylesheet';
}
