/* Shrikhand font pour logo et titres */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* Roboto font pour texte */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader__itemContainer {
    display: flex;
    width: 5rem;
    justify-content: space-between;
}
.loader__item--1 {
    background-color: #9356dc;
}
.loader__item--2 {
    background-color: #ff79da;
    animation-delay: .25s;
}
.loader__item--3 {
    background-color: #99e2d0;
    animation-delay: .5s;
}