@use "../utils/mixins.scss";


button {
    width: 200px;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    border: none;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    @include mixins.gradient;
    @include mixins.base-shadow;
    &:hover {
        @include mixins.hover;
    }
}
