@use "../utils/boxshadow.scss";
@use "../utils/hover.scss";

.function{
    margin-bottom: 50px;
    counter-reset: steps;
    h2 {
        margin-bottom: 1.5rem;
    }
    & ol{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        @media (max-width: 900px){
            flex-direction: column;
        }
    }
        & li {
            &::before{
                content: counter(steps);
                counter-increment: steps;   
                background-color: #9356DC;
                color:white;
                padding: 5px 10px 5px 10px;
                border-radius: 50%;
                position: relative;
                left: -30px;
            }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.2rem;
        flex-grow: 1;
        border-radius: 25px;
        @include boxshadow.base-shadow;    
        &:hover{
            @include hover.hover;
        }    
        & i.fa-solid{
            margin-right: 25px;
            color: gray; 
        }
        &.fa-solid:hover {
                background-color: #FF79DA;
            }
        }
    }


